.card {
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3);*/
  /*max-width: 500px;*/
  background: transparent;
  box-shadow: none;
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  /*border-radius: 2px;*/
  background-clip: padding-box;
  margin-bottom: 10px;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.2);
  /*padding: 20px;*/
}
.card .card-image img {
  /*border-radius: 2px 2px 0 0;*/
  background-clip: padding-box;
  position: relative;
  z-index: 1;
  transition: all .5s ease;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  z-index: 1;
}
.card .card-content {
  position: relative;
  padding: 8px 2px;
  /*border-radius: 0 0 2px 2px;*/
  background-clip: padding-box;
  box-sizing: border-box;
  z-index: 2;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.card .card-image:hover img {
/*  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);*/
  opacity: 1;
}

.card-image:hover {
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0), 0 2px 10px 0 rgb(0, 0, 0);
}

.card .card-image:hover .add_wishlist{
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  -o-transition: height .5s;
  -ms-transition: height .5s;
} 