<div class="container-fluid">
	<div class="row"><br/></div>
	<div class = "row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="panel panel-default" style = "border-radius : 1px; box-shadow:2px 2px 4px #000;">
			  <div class="panel-body" style = "padding : 10px;">
			    	<span style="font-size:20px; font-weight:800">Select a deliver and Installation Address</span>
			  </div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row"><br/></div>
	<div class = "row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="panel panel-default" style = "border-radius : 1px; box-shadow:2px 2px 4px #000;">
			  	<div class="panel-body" style = "padding : 10px;">

			  	<div class="container-fluid">
				  	<div class="row" id="default_address">
				  		<div class="col-md-3" style="border-top:2px solid #BEBEBE;border-bottom:2px solid #BEBEBE; padding: 15px;">
				  			<span style="color: #BEBEBE;font-size: 18px">Chandler Bing</span><br><br>
				  			<span style="font-weight: 700;">
				  				1004,D wing,Raheja Vistas<br>
				  				Chandivali, Raheja vihar<br>
				  				MUMBAI, MAHARASHTRA 400072<BR>
				  				India<br>
				  			</span>
				  			<br><br>
				  			<button class="btn btn-raised btn-primary" style="margin:0;"> Deliver To This Address</button>
				  			<button class="btn btn-raised" onclick="edit_address_click()">Edit Address</button>
				  		</div>
				  	</div>

				  	<div id="edit_address">
					  	<div class="row" style = "padding-left: 15px;margin-bottom: 20px;">	
					  		<span style="color: #BEBEBE;font-size: 20px;">EDIT ADDRESS</span>
					  	</div>

					  	<div class="row">
					  		<div class="col-md-5">
						  		<label class="address_label"> Name</label><br>
						  		<input class="address_input"></input>
					  		</div>
					  		<div class="col-md-1"></div>
					  		<div class="col-md-5">
					  			<label class="address_label"> Pincode</label><br>
						  		<input class="address_input"></input>
					  		</div>
					  	</div>

					  	<div class="row">
					  		<div class="col-md-5">
					  			<label class="address_label"> Mobile number</label><br>
						  		<input class="address_input"></input>
					  		</div>
					  		<div class="col-md-1"></div>
					  		<div class="col-md-5">
					  			<label class="address_label"> Address</label><br>
						  		<input class="address_input"></input>
					  		</div>
					  	</div>

					  	<div class="row">
					  		<div class="col-md-5">
					  			<label class="address_label"> E-mail</label><br>
						  		<input class="address_input"></input>
					  		</div>
					  		<div class="col-md-1"></div>
					  		<div class="col-md-5">
					  			<label class="address_label"> Town/City</label><br>
						  		<input class="address_input"></input>
					  		</div>
					  	</div>

					  	<div class="row" style="padding-left: 15px;">
					  		<button class="btn btn-raised btn-primary"> Deliver To This Address</button>
					  	</div>
				  	</div>
			  	</div>
			    	
			  </div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>


</div>
