<div class="container-fluid" style="padding-left : 45px; padding-right: 50px;">
	<div class="row"><br/></div>

	<div class="panel panel-default" id="breadcrumb_nav">
	  	<div class="panel-body" style = "padding : 0px;">	
		  		<ul class="breadcrumb">
			  		<li class="active"><a ng-click = "">{{selected_city}}</a></li>
				</ul>
	  	</div>
	</div>	

	<div class="panel panel-default" id="builder_filter">
		<div class="panel-body">
			<div class="container-fluid">
				<div class="col-md-4 filter">
				<div class="row">
					<div class="col-xs-2 angucomplete_addons">
			        	<span class="angucomplete_fa_icons pull-right" ng-click = "angucomplete_drop('#ex1')"> <i class="fa fa-lg fa-location-arrow"></i> </span>
			        </div>

					<div class="col-xs-8 filter_input pull-left">
				        <div angucomplete-alt id="ex1"
							placeholder="Select a City"
							maxlength="50"
							pause="100"
							selected-object="selected_city_func"
							initial-value = "selected_city"
							local-data="cities"
							search-fields="name"
							title-field="name"
							minlength="0"
							input-class="form-control form-control-small"
							match-class="highlight"
							ng-click = "angucomplete_drop('#ex1')">
						</div>
			        </div>

			        <div class="col-xs-2 angucomplete_addons">
			        	<span class="angucomplete_chevron pull-left" ng-click = "angucomplete_drop('#ex1')"> <i class="fa fa-lg fa-angle-down"></i> </span>
			        </div>
		        </div>
				</div>

				<div class="col-md-4 filter">
				<div class="row">
					<div class="col-xs-2 angucomplete_addons">
			        	<span class="angucomplete_fa_icons pull-right" ng-click = "angucomplete_drop('#ex2')"> <i class="fa fa-lg fa-user"></i> </span>
			        </div>

			        <div class="col-xs-8 filter_input pull-left">
				        <div angucomplete-alt id="ex2"
							placeholder="Select a Builder"
							maxlength="50"
							pause="100"
							selected-object="selected_builder_func"
							local-data="builders"
							search-fields="name"
							title-field="name"
							minlength="0"
							input-class="form-control form-control-small"
							match-class="highlight">
						</div>
			        </div>

			        <div class="col-xs-2 angucomplete_addons">
			        	<span class="angucomplete_chevron pull-left" ng-click = "angucomplete_drop('#ex2')"> <i class="fa fa-lg fa-angle-down"></i> </span>
			        </div>
		        </div>
				</div>

				<div class="col-md-4 filter">
				<div class="row">
					<div class="col-xs-2 angucomplete_addons">
			        	<span class="angucomplete_fa_icons pull-right" ng-click = "angucomplete_drop('#ex3')"> <i class="fa fa-lg fa-home"></i> </span>
			        </div>

			        <div class="col-xs-8 filter_input pull-left">
						<div angucomplete-alt id="ex3"
							placeholder="Select a Project"
							maxlength="50"
							pause="100"
							selected-object="selected_project_func"	
							local-data="projects"
							search-fields="name"
							title-field="name"
							minlength="0"
							input-class="form-control form-control-small"
							match-class="highlight">
						</div>
			        </div>

			        <div class="col-xs-2 angucomplete_addons">
			        	<span class="angucomplete_chevron pull-left" ng-click = "angucomplete_drop('#ex3')"> <i class="fa fa-lg fa-angle-down"></i> </span>
			        </div>
	        	</div>
				</div>
		   	</div>
		</div>
	</div>
	
	<div class="container-fluid"> 
		<div class="col-md-4 card_container" ng-repeat = "builder in builder_src ">
			<div class="card">
                <div class="card-image" ng-click = "builder_src_select(builder.city,builder.name)">
                    <img class="img-responsive" ng-src="{{builder.src}}">
                    <!-- <span class="card-title">Material Cards</span> -->
                </div>
                
                <div class="card-content pull-left">
                    <p class="pull-left">{{builder.name}}</p><br>
                    <!-- <p class="pull-left">Project Name : {{floorplan.project}}</p> -->
                </div>
    		</div>
		</div>
	</div>
	
</div>