<div class="container-fluid" style="padding-left : 45px; padding-right: 50px;">
	<div class="row"><br/></div>

	<div class="panel panel-default" id="breadcrumb_nav">
	  	<div class="panel-body" style = "padding : 0px;">	
		  		<ul class="breadcrumb">
			  		<li><a ng-click = "visible('builder')">{{selected_city}}</a></li>
			  		<li><a ng-click = "visible('project')">{{selected_builder}}</a></li>
			  		<li class="active"><a ng-click = "">{{selected_project}}</a></li>
				</ul>
	  	</div>
	</div>	

	<div class="panel panel-default" id="builder_filter">
		<div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 filter_remove">
					<div class="row">
						<div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_fa_icons pull-right" ng-click = "angucomplete_drop('#ex1')"> <i class="fa fa-lg fa-location-arrow"></i> </span>
				        </div>

						<div class="col-xs-8 filter_input pull-left">
					        <div angucomplete-alt id="ex1"
								placeholder="Select a City"
								maxlength="50"
								pause="100"
								selected-object="selected_city_func"
								initial-value = "selected_city"
								local-data="cities"
								search-fields="name"
								title-field="name"
								minlength="0"
								input-class="form-control form-control-small"
								match-class="highlight">
							</div>
				        </div>

				        <div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_chevron pull-left" ng-click = "angucomplete_drop('#ex1')"> <i class="fa fa-lg fa-angle-down"></i> </span>
				        </div>
			        </div>
					</div>

					<div class="col-md-4 filter_remove">
					<div class="row">
						<div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_fa_icons pull-right" ng-click = "angucomplete_drop('#ex2')"> <i class="fa fa-lg fa-user"></i> </span>
				        </div>

				        <div class="col-xs-8 filter_input pull-left">
					        <div angucomplete-alt id="ex2"
								placeholder="Select a Builder"
								maxlength="50"
								pause="100"
								selected-object="selected_builder_func"
								initial-value = "selected_builder"
								local-data="builders"
								search-fields="name"
								title-field="name"
								minlength="0"
								input-class="form-control form-control-small"
								match-class="highlight">
							</div>
				        </div>

				        <div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_chevron pull-left" ng-click = "angucomplete_drop('#ex2')"> <i class="fa fa-lg fa-angle-down"></i> </span>
				        </div>
			        </div>
					</div>


				
					<div class="col-md-4 filter">
					<div class="row">
						<div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_fa_icons pull-right" ng-click = "angucomplete_drop('#ex3')"> <i class="fa fa-lg fa-home"></i> </span>
				        </div>

				        <div class="col-xs-8 filter_input pull-left">
							<div angucomplete-alt id="ex3"
								placeholder="Select a Project"
								maxlength="50"
								pause="100"
								selected-object="selected_project_func"	
								initial-value = "selected_project"
								local-data="projects"
								search-fields="name"
								title-field="name"
								minlength="0"
								input-class="form-control form-control-small"
								match-class="highlight"
								ng-click = "angucomplete_drop('#ex3')">
							</div>
				        </div>

				        <div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_chevron pull-left" ng-click = "angucomplete_drop('#ex3')"> <i class="fa fa-lg fa-angle-down"></i> </span>
				        </div>
			        </div>
					</div>

					<div class="col-md-4 filter_add">
					<div class="row">
						<div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_fa_icons pull-right" ng-click = "angucomplete_drop('#ex1')"> <i class="fa fa-lg fa-location-arrow"></i> </span>
				        </div>

						<div class="col-xs-8 filter_input pull-left">
					        <div angucomplete-alt id="ex1"
								placeholder="Select Block no."
								maxlength="50"
								pause="100"
								selected-object="selected_city_func"
								local-data="cities"
								search-fields="name"
								title-field="name"
								minlength="0"
								input-class="form-control form-control-small"
								match-class="highlight">
							</div>
				        </div>

				        <div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_chevron pull-left" ng-click = "angucomplete_drop('#ex1')"> <i class="fa fa-lg fa-angle-down"></i> </span>
				        </div>
			        </div>
					</div>

					<div class="col-md-4 filter_add">
					<div class="row">
						<div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_fa_icons pull-right" ng-click = "angucomplete_drop('#ex1')"> <i class="fa fa-lg fa-location-arrow"></i> </span>
				        </div>

						<div class="col-xs-8 filter_input pull-left">
					        <div angucomplete-alt id="ex1"
								placeholder="Select Flat no."
								maxlength="50"
								pause="100"
								selected-object="selected_city_func"
								local-data="cities"
								search-fields="name"
								title-field="name"
								minlength="0"
								input-class="form-control form-control-small"
								match-class="highlight">
							</div>
				        </div>

				        <div class="col-xs-2 angucomplete_addons">
				        	<span class="angucomplete_chevron pull-left" ng-click = "angucomplete_drop('#ex1')"> <i class="fa fa-lg fa-angle-down"></i> </span>
				        </div>
			        </div>
					</div>
				</div>
		   	</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="col-md-4 card_container" ng-repeat = "floorplan in floorplans | filter:{city : selected_city, builder : selected_builder,project : selected_project} ">
			<div class="card">
                <div class="card-image">
                    <img class="img-responsive" ng-src="{{floorplan.src}}">
                    <!-- <span class="card-title">Material Cards</span> -->
                </div>
                
                <div class="card-content">
                    <p>{{floorplan.name}}</p><br>
                    <!-- <p>Project Name : {{floorplan.project}}</p> -->
                </div>
    		</div>
		</div>
	</div>
	
</div>