<div id = "dashboard">
	<div id="dashboard-panel">
		<br>
		<div id="dashboard_header">
			<span style ="font-size : 22px; opacity : 0.5;padding-left: 80px;">Shubham Gupta</span>
			<!-- <span style="font-size : 16px; ">shubham@infurnia.com</span> -->
		</div>
		<div id="dashboard_content">
			<!-- <ul>
				<li id="design" ng-click="dashboard_data('design')"><a class="dashboard-list">MY DESIGNS<span class = "badge pull-right" >1</span></a></li>
				<li id="wishlist" ng-click="dashboard_data('wishlist')"><a class="dashboard-list">MY WISHLIST<span class = "badge pull-right">5</span></a></li>
				<li id="cart" ng-click="dashboard_data('cart')"><a class="dashboard-list">MY CART<span class = "badge pull-right">0</span></a></li>
				<li id="order" ng-click="dashboard_data('order')"><a class="dashboard-list">MY ORDERS<span class = "badge pull-right">1</span></a></li>
				<li id="profile" class="active" ng-click="dashboard_data('profile')"><a class="dashboard-list"> EDIT PROFILE</a></li>
			</ul> -->
			<ul class="main_menu">
				<li class="dashboard_heading">
					<div>Orders</div>
					<ul class="sub_menu">
						<li id="order" ng-click="dashboard_data('order')">My Orders<span class = "badge pull-right">5</span></li>
					</ul>
				</li>
				<li class="dashboard_heading">
					<div>Designs</div>
					<ul class="sub_menu">
						<li id="design" ng-click="dashboard_data('design')">My Designs<span class = "badge pull-right">6</span></li>
						<li id="shortlist" ng-click="dashboard_data('shortlist')">Shortlisted Designs<span class = "badge pull-right">8</span></li>
						<li id="wishlist" ng-click="dashboard_data('wishlist')">Liked Designs<span class = "badge pull-right">2</span></li>
					</ul>
				</li>
				<!-- <li class="dashboard_heading">
					<span>Payment</span>
					<ul class="sub_menu">
					<li>Coupons</li>
					<li>Wallet</li>
					<li>Saved Cards</li>
					</ul>
				</li> -->
				<li class="dashboard_heading">
					<div>Settings</div>
					<ul class="sub_menu">
						<li id="profile_info" ng-click="dashboard_data('profile_info')" class="active">Personal Information</li>
						<li id="profile_password" ng-click = "dashboard_data('profile_password')">Change Password</li>
						<li id="profile_address" ng-click = "dashboard_data('profile_address')">Addresses</li>
					</ul>
				</li>
			</ul>
			<div style = "color : rgba(0,0,0,0.5)">
				<div id="catalogue">
					<span ng-click = "visible('logged_in')" style="cursor: pointer;">Go Back To Catalouge</span>
				</div>
			</div>
			<!-- <div
			  class="fb-like"
			  data-share="true"
			  data-width="450"
			  data-show-faces="true">
			</div> -->
		</div>
	</div>

	
	<div id="profile_change">   

		<div class="container-fluid" ng-if = "design">
			<!-- <div class="row">  -->
				<!-- <div class = "col-md-2"></div> -->
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender1.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	DESIGN1
			                    </p>
			                </div>
	            		</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender9.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	DESIGN2
			                </div>
	            		</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender1.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	DESIGN3
			                    </p>
			                </div>
	            		</div>
				</div>

			<!-- </div> -->

			<!-- <div class="row">  -->
				
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender9.jpg">
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	DESIGN4
			                </div>
	            		</div>
				</div>
				
			<!-- </div> -->
		</div>

		<div class="container-fluid" ng-if = "shortlist">
			<!-- <div class="row">  -->
				<!-- <div class = "col-md-2"></div> -->
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender1.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	SHORTLIST1
			                    </p>
			                </div>
	            		</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender9.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	SHORTLIST2
			                </div>
	            		</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender1.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	SHORTLIST3
			                    </p>
			                </div>
	            		</div>
				</div>

			<!-- </div> -->

			<!-- <div class="row">  -->
				
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender9.jpg">
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	SHORTLIST4
			                </div>
	            		</div>
				</div>
				
			<!-- </div> -->
		</div>

		<div class="container-fluid" ng-if = "wishlist">
			<!-- <div class="row">  -->
				<!-- <div class = "col-md-2"></div> -->
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender1.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	WISHLIST1
			                    </p>
			                </div>
	            		</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender9.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	WISHLIST2
			                </div>
	            		</div>
				</div>
			<!-- </div> -->

			<!-- <div class="row">  -->
				<!-- <div class = "col-md-2"></div> -->
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender1.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	WISHLIST3
			                    </p>
			                </div>
	            		</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender9.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	WISHLIST4
			                </div>
	            		</div>
				</div>
				
			<!-- </div> -->
		</div>

		<div class="container-fluid" ng-if = "order">
			<!-- <div class="row">  -->
				<!-- <div class = "col-md-2"></div> -->
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender1.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	ORDER1
			                    </p>
			                </div>
	            		</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender9.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	ORDER2
			                </div>
	            		</div>
				</div>
			<!-- </div> -->

			<!-- <div class="row">  -->
				<!-- <div class = "col-md-2"></div> -->
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender1.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	ORDER3
			                    </p>
			                </div>
	            		</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 card_container">
						<div class="card" ng-click = "visible('description')">
			                <div class="card-image">
			                    <img class="img-responsive" src="images/ImageRender9.jpg">
			                    <!-- <span class="card-title">Material Cards</span> -->
			                </div>
			                
			                <div class="card-content">
			                    <p>
			                    	ORDER4
			                </div>
	            		</div>
				</div>
				
			<!-- </div> -->
		</div>

		<div class="container-fluid" ng-if="profile_info">
			<!-- <div class="row">		
				<div class="col-md-1"></div>			
				<div class="col-md-4">
					<h4>EDIT PROFILE</h4>	
					<form>
						<div class="form-group has-success">
						    <label for="name" class="control-label" style = "color : #000; font-size : 14px; margin-bottom: 5px;">Name</label>
						    <input class="dashboardInput" id="name" type="text" placeholder="Chandler Bing">    
						</div>
						<div class="form-group has-success">
						    <label for="email" class="control-label" style = "color : #000; font-size : 14px; margin-bottom: 5px;">E-mail</label>
						    <input class="dashboardInput" id="email" type="text" placeholder="xyz@infurnia.com">    
						</div>					
						<button class="btn btn-primary btn-raised" style="width : 100%; margin-top : 30px; margin-bottom : 30px; font-weight : bold;">Save Changes</button>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div> -->

			<div class = "row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="panel panel-default" style="background: transparent;box-shadow: none;">
					  	<div class="panel-body" style = "padding : 10px;">

						  	<div class="container-fluid">
							  	<div class="row">
							  		<div class="col-md-6" style="padding: 15px;">
							  			<h4>EDIT PROFILE</h4>	
										<form>
											<div class="form-group has-success">
											    <label for="name" class="control-label" style = "color : #000; font-size : 14px; margin-bottom: 5px;">Name</label>
											    <input class="dashboardInput" id="name" type="text" placeholder="Chandler Bing">    
											</div>
											<div class="form-group has-success">
											    <label for="email" class="control-label" style = "color : #000; font-size : 14px; margin-bottom: 5px;">E-mail</label>
											    <input class="dashboardInput" id="email" type="text" placeholder="xyz@infurnia.com">    
											</div>					
											<button class="btn btn-primary btn-raised" style="width : 100%; margin-top : 30px; margin-bottom : 30px; font-weight : bold;">Save Changes</button>
										</form>
							  		</div>
							  	</div>
						  	</div>
					  	</div>
				  	</div>
			  	</div>
			  	<div class="col-md-1"></div>
		  	</div>
		</div>

		<div class="container-fluid" ng-if = "profile_password"> 
			<!-- <div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<h4>CHANGE PASSWORD</h4>	
					<form>
						<div class="form-group">
						    <input  class = "dashboardInput" id="name" type="text" placeholder="Current Password">    
						</div>
						<div class="form-group has-success">
						    <input  class = "dashboardInput" id="email" type="text" placeholder="New Password">    
						</div>
						<div class="form-group has-success">
						    <input  class = "dashboardInput" type="text" placeholder="Confirm Password">    
						</div>					
						<button class="btn btn-primary btn-raised" style="width : 100%; margin-top : 30px; font-weight : bold;">Change Password</button>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div> -->

			<div class = "row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="panel panel-default" style="background: transparent;box-shadow: none;">
					  	<div class="panel-body" style = "padding : 10px;">

						  	<div class="container-fluid">
							  	<div class="row">
							  		<div class="col-md-6" style="padding: 15px;">
							  			<h4>CHANGE PASSWORD</h4>	
										<form>
											<div class="form-group">
											    <input  class = "dashboardInput" id="name" type="text" placeholder="Current Password">    
											</div>
											<div class="form-group has-success">
											    <input  class = "dashboardInput" id="email" type="text" placeholder="New Password">    
											</div>
											<div class="form-group has-success">
											    <input  class = "dashboardInput" type="text" placeholder="Confirm Password">    
											</div>					
											<button class="btn btn-primary btn-raised" style="width : 100%; margin-top : 30px; font-weight : bold;">Change Password</button>
										</form>
							  		</div>
							  	</div>
						  	</div>
					  	</div>
				  	</div>
			  	</div>
			  	<div class="col-md-1"></div>
		  	</div>

		</div>

		<div class="container-fluid" ng-if = "profile_address" id="profile_address">
			<!-- <div class="row"><br/></div>
			<div class = "row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="panel panel-default" style = "border-radius : 1px; box-shadow:2px 2px 4px #000;">
					  <div class="panel-body" style = "padding : 10px;">
					    	<span style="font-size:20px; font-weight:800">Select a deliver and Installation Address</span>
					  </div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div> -->

			<div class = "row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="panel panel-default" style="background: transparent;box-shadow: none;">
					  	<div class="panel-body" style = "padding : 10px;">

					  	<div class="container-fluid">
						  	<div class="row" id="default_address">
						  		<div class="col-md-6" style="padding: 15px;">
						  			<span style="color: #BEBEBE;font-size: 18px">Chandler Bing</span><br><br>
						  			<span style="font-weight: 700;">
						  				1004,D wing,Raheja Vistas<br>
						  				Chandivali, Raheja vihar<br>
						  				MUMBAI, MAHARASHTRA 400072<BR>
						  				India<br>
						  			</span>
						  			<br><br>
						  			<button class="btn btn-raised btn-primary" style="margin:0;padding: 8px 0;"> Get a Free Design Consultation</button>
						  			<button class="btn btn-raised" onclick="edit_address_click()">Edit Address</button>
						  		</div>
						  	</div>

						  	<div id="edit_address">
							  	<div class="row" style = "padding-left: 15px;margin-bottom: 20px;">	
							  		<span style="color: #BEBEBE;font-size: 20px;">EDIT ADDRESS</span>
							  	</div>

							  	<form>

								  	<div class="row">
								  		<div class="col-md-5">
									  		<div class="form-group has-success">
											    <label for="profile_name" class="control-label">Name</label>
											    <input class="dashboardInput" id="profile_name" type="text" placeholder="">    
											</div>
								  		</div>
								  		<div class="col-md-1"></div>
								  		<div class="col-md-5">
								  			<div class="form-group has-success">
											    <label for="profile_pincode" class="control-label">Pincode</label>
											    <input class="dashboardInput" id="profile_pincode" type="text" placeholder="">    
											</div>
								  		</div>
								  	</div>

								  	<div class="row">
								  		<div class="col-md-5">
								  			<div class="form-group has-success">
											    <label for="profile_mobile" class="control-label">Mobile Number</label>
											    <input class="dashboardInput" id="profile_mobile" type="text" placeholder="">    
											</div>
								  		</div>
								  		<div class="col-md-1"></div>
								  		<div class="col-md-5">
								  			<div class="form-group has-success">
											    <label for="profile_address" class="control-label">Address</label>
											    <input class="dashboardInput" id="profile_address" type="text" placeholder="">    
											</div>
								  		</div>
								  	</div>

								  	<div class="row">
								  		<div class="col-md-5">
								  			<div class="form-group has-success">
											    <label for="profile_mail" class="control-label">E-mail</label>
											    <input class="dashboardInput" id="profile_mail" type="text" placeholder="">    
											</div>
								  		</div>
								  		<div class="col-md-1"></div>
								  		<div class="col-md-5">
								  			<div class="form-group has-success">
											    <label for="profile_city" class="control-label">Town/City</label>
											    <input class="dashboardInput" id="profile_city" type="text" placeholder="">    
											</div>
								  		</div>
								  	</div>

								  	<div class="row" style="padding-left: 15px;">
								  		<button class="btn btn-raised btn-primary">Get a Free Design Consultation</button>
								  	</div>

							  	</form>
						  	</div>
					  	</div>
					    	
					  </div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>

		</div>

	</div>			
</div>