<div class="container-fluid" style="padding-right: 85px; padding-left : 85px;">
		<div class="row"><br/></div>
		<div class = "row">
			<!-- <div class="col-md-1"></div> -->
			<div class="col-xs-12">
				<div class="panel panel-default" style = "border-radius : 1px;">
				  <div class="panel-body" style = "padding : 0px;">
				    <ul class="breadcrumb" style="margin-bottom: 5px; background: transparent; font-size: 1.1em; margin : 0;">
					  <li><a ng-click="visible('logged_in')">Product Catalouge</a></li>
					  <li class="active">Woodgrain L-Shaped Modular Kitchen</li>
					</ul>
				  </div>
				</div>
			</div>
			<!-- <div class="col-md-1"></div> -->
		</div>
		<div class="row">
			<!-- <div class = "col-md-1"></div> -->
			<div class = "col-xs-12">
			<div class="panel panel-default">
			  	<div class="panel-body">
				    <div class = "row">
				    	<div class="col-xs-12 col-sm-8 col-md-8">
				    		<!-- <div class="row"> -->
					    		<div id="myCarousel" class="carousel slide" data-ride="carousel">
								  	<!-- <div id = "img-overlay-bar" class="hidden-xs">
								  		<div class = "row" id = "img-overlay-row">
								  			<div class= "col-xs-5" style = "color : white; margin-left:5px;">
								  				Share Project:
								  			</div>
								  			<div class="col-xs-6" id = "share-social">
								  				<a href="#"><i class="fa fa-lg fa-facebook-f"></i></a>
												<a href="#"><i class="fa fa-lg fa-google-plus"></i></a>
												<a href="#"><i class="fa fa-lg fa-twitter"></i></a>		
								  			</div>
								  		</div>
									</div> -->
								  <!-- </div> -->
								  <!-- Indicators -->
								  <ol class="carousel-indicators">
								    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								    <li data-target="#myCarousel" data-slide-to="1"></li>
								    <li data-target="#myCarousel" data-slide-to="2"></li>
								  </ol>

								  <!-- Wrapper for slides -->
								  <div class="carousel-inner" role="listbox">
								    <div class="item active">
								      <a href="images/ImageRender1.jpg" data-lightbox="example-set"><img class = "img-responsive" src="images/ImageRender1.jpg" alt=""></a>
								    </div>

								    <div class="item">
								      <a href="images/ImageRender1.jpg" data-lightbox="example-set"><img class = "img-responsive" src="images/ImageRender1.jpg" alt=""></a>
								    </div>

								    <div class="item">
								      <a href="images/ImageRender1.jpg" data-lightbox="example-set"><img class = "img-responsive" src="images/ImageRender1.jpg" alt=""></a>
								    </div>
								  </div>

								  <!-- Left and right controls -->
								  <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
								    <span class="fa fa-2x fa-chevron-left" id = "left" aria-hidden="true"></span>
								    <span class="sr-only">Previous</span>
								  </a>
								  <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
								    <span class="fa fa-2x fa-chevron-right" id = "right" aria-hidden="true"></span>
								    <span class="sr-only">Next</span>
								  </a>
								</div>
								<div><button id = "buy-btn" class = "btn btn-primary btn-raised" ng-click = "design_consult()">Get A Free Design Consultation</button></div>
								<div style="margin-bottom: 30px;">
									<!-- <div class="col-xs-6" id = "share-social"> -->
						  				<center><a href="#" style="margin : 0px 30px; color : rgba(0,0,0,0.5);"><i class="fa fa-2x fa-facebook-f"></i></a>
										<a href="#" style="margin : 0px 30px;color : rgba(0,0,0,0.5);"><i class="fa fa-2x fa-google-plus"></i></a>
										<a href="#" style="margin : 0px 30px;color : rgba(0,0,0,0.5);"><i class="fa fa-2x fa-twitter"></i></a>		
						  				</center>
						  			<!-- </div> -->
								</div>
							<!-- </div> -->
				    	</div>
				    	<div class="col-xs-12 col-sm-4 col-md-4">
					    		<div style = "font-size: 1.5em;">
					    			<b>Woodgrains L-Shaped Modular Kitchen</b>
					    		</div>
				    		<div style = "margin-right : 50px; margin-top: 10px;"><span style = "position : relative; font-size : 18px; color : #1ABB9C;">Rs. 110000/-</span><br><span style="font-size : 12px; color : rgba(0,0,0,0.5); margin : 20px 0px;">* Free Shipping and Installation</span></div>
				    		<div><hr style="border-top : 2px solid #ccc; margin-top : 10px;"></div>
				    		<div>
				    			<div class="row"><div class="col-md-6" style = "font-size: 16px; color : #999;">FINISH</div></div>
				    			<div class="row" style = "font-size: 16px; color : #333; margin-top:10px;">
				    				<div class="col-xs-6">Wall Units<br>R4120LC Dab Mleczny</div>
				    				<div class="col-xs-6"></div>
				    			</div>
				    			<div class="row" style = "font-size: 16px; color : #333; margin-top : 10px;">
				    				<div class="col-xs-6">Base Units<br>R3025C Zebrano Negro</div>
				    				<div class="col-xs-6"></div>
				    			</div>
				    			<div class="col-xs-12" style="border-top : 2px solid #777; margin-top : 10px; margin-bottom: 20px;"></div>
				    		</div>
				    		<div>
				    			<div class="col-xs-12 col-sm-6" style = "font-size: 16px; color : #999;">ROOM SIZE</div>
				    			<div class="col-xs-12 col-sm-6" style = "font-size: 16px; color : #333; letter-spacing: 1px;"><span style="margin-right : 30px;">9 X 11 ft</span></div>
				    			<div class="col-xs-12 col-sm-12">
					    			<button class="btn btn-raised btn-primary" style="width : 100%;" ng-click = "starting_pt_click()">See This Design in your Room</button>
					    		</div>
				    			<div class="col-xs-12" style="border-top : 2px solid #777; margin-top : 10px; margin-bottom: 20px;"></div>
				    		</div>
				    	</div>
				    </div>
				    <!-- <div class="row">
		    			<div class="col-xs-12" style="border-top : 2px solid #777; margin-top : 10px; margin-bottom: 20px;"></div>
				    </div> -->
				    <!-- <div class="row">
				    	<div id = "info-product">
							<div class="col-xs-4"><i class="fa fa-clock-o fa-2x" style="margin-right : 10px;"></i>45 days Delievery Guarantee</div>
							<div class="col-xs-4"><i class="fa fa-shield fa-2x" style="margin-right : 10px;"></i>10 Years Warranty</div>
							<div class="col-xs-4"><i class="fa fa-check-square fa-2x" style="margin-right : 10px;"></i>ISO 9001:2008 Certified Company</div>
						</div>
				    </div> -->
			  	</div>
			</div>
			</div>
			<!-- <div class = "col-md-1"></div> -->
		</div>
		<div class="row"><br/></div>
		<div class="row">
			<!-- <div class="col-md-1"></div> -->
			<div class="col-xs-12" id = "info-accordion">
				<div class="panel panel-default">
				  <div class="panel-body">
			     	<div class="panel-group" id="accordion">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
					        <i class = "fa fa-angle-down"></i>&nbsp; &nbsp;Specification</a>
					      </h4>
					    </div>
					    <div id="collapse3" class="panel-collapse collapse">
					      <div class="panel-body">Base Units <br><br><br> Wall Units <br><br><br> Materials <br><br><br></div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
					        <i class = "fa fa-angle-down"></i>&nbsp; &nbsp;FAQs</a>
					      </h4>
					    </div>
					    <div id="collapse1" class="panel-collapse collapse in">
					      <div class="panel-body">
							The 45-day delivery guarantee is valid, provided there are no scope / design changes after sign-off.<br/>
							Site is ready for interiors as per our checklist.<br/>
							Price does not include plumbing, electrical, appliances, tiling and granite.<br/>
						</div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
					        <i class = "fa fa-angle-down"></i>&nbsp; &nbsp;Terms and Conditions</a>
					      </h4>
					    </div>
					    <div id="collapse2" class="panel-collapse collapse">
					    	<div class="panel-body">
								All our furniture come with a 10 year warranty for any manufacturing defects.<br>
								Hinges, runners, slides and metal drawer systems come under the lifetime warranty of supplier.<br>
								Any manufacturing defects, breakages or damage before installation are the responsibility of Infurnia.<br>
							</div>
					    </div>
					  </div>
					</div> 
				  </div>
				</div>
			</div>
			<!-- <div class="col-md-1"></div> -->
		</div>
		
		
	</div>