<div class="container-fluid">
		<div class="row"><br/></div>
		<div class="container-fluid">
			<div class="col-md-4 card_container">
					<div class="card" ng-click = "visible('description')">
		                <div class="card-image">
		                    <img class="img-responsive" src="images/ImageRender1.jpg">
		                    <!-- <span class="card-title">Material Cards</span> -->
		                </div>
		                
		                <div class="card-content pull-left">
		                    <p class="pull-left">Project Name : Woodgrains</p><br>
		                    <p class="pull-left">Price : Rs.111000/-</p>
		                </div>
	        		</div>
			</div>
			<div class="col-md-4 card_container">
					<div class="card" ng-click = "visible('description')">
		                <div class="card-image">
		                    <img class="img-responsive" src="images/ImageRender9.jpg">
		                    <!-- <span class="card-title">Material Cards</span> -->
		                </div>
		                
		                <div class="card-content pull-left">
		                    <p class = "pull-left">
		                    	Project Name : L-Shaped Kitchen
		                    </p><br>
		                    <p class="pull-left">Price : Rs.111000/-</p>
		                </div>
	        		</div>
			</div>
			<div class="col-md-4 card_container">
					<div class="card" ng-click = "visible('description')">
	                <div class="card-image">
	                    <img class="img-responsive" src="images/ImageRender30.jpg">
	                    <!-- <span class="card-title">Material Cards</span> -->
	                </div>
	                
	                <div class="card-content pull-left">
	                    <p class="pull-left">
	                    	Project Name : Straight Kitchen
	                    </p>
	                    <br>
		                <p class="pull-left">Price : Rs.111000/-</p>
	                </div>
	        		</div>
			</div>
		
			<div class="col-md-4 card_container">
					<div class="card" ng-click = "visible('description')">
		                <div class="card-image">
		                    <img class="img-responsive" src="images/ImageRender1.jpg">
		                    <!-- <span class="card-title">Material Cards</span> -->
		                </div>
		                
		                <div class="card-content">
		                    <p>
		                    	Project Name : Woodgrains <br>
		                    	Price : Rs.111000/-
		                    </p>
		                </div>
	        		</div>
			</div>
			<div class="col-md-4 card_container">
					<div class="card" ng-click = "visible('description')">
		                <div class="card-image">
		                    <img class="img-responsive" src="images/ImageRender9.jpg">
		                    <!-- <span class="card-title">Material Cards</span> -->
		                </div>
		                
		                <div class="card-content">
		                    <p>
		                    	Project Name : L-Shaped Kitchen <br>
		                    	Price : Rs.111000/-
		                    </p>
		                </div>
	        		</div>
			</div>
			<div class="col-md-4 card_container">
					<div class="card" ng-click = "visible('description')">
	                <div class="card-image">
	                    <img class="img-responsive" src="images/ImageRender30.jpg">
	                    <!-- <span class="card-title">Material Cards</span> -->
	                </div>
	                
	                <div class="card-content">
	                    <p>
	                    	Project Name : Straight Kitchen <br>
	                    	Price : Rs.111000/-
	                    </p>
	                </div>
	        		</div>
			</div>
		</div>
		<center>
		<div class = "row" id = "load" style="display : none;">
			<i class="fa fa-2x fa-spinner fa-spin" aria-hidden="true"></i>&nbsp;&nbsp;Loading More Products<br>
		</div>
		</center>
	</div>